body{
    background-color: #1E1E1E;    
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue';
    color: #FFF;
}
main{
    display: flex;
}

.header{
    border: #FFF solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.box{
    /* border: #E82C4F solid 2px; */
    width: 55px;
    height: 55px;
    position: relative;
}

.left-white{
    background-color: #FFF;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.right-red{
    background-color: #E82C4F;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}



