*{
    margin: 0;
    padding: 0;
}

header{
    /* border-bottom: 2px solid; */
    background-color: rgb(85,105,220);
}

.navbar{
    display: inline-block;
    margin: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-page{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    background-color: rgb(85,105,220);
}
.left-page{
    background-color: rgb(85,105,220);
    background-image: url("../assets/laptop-background.png");
    background-repeat: no-repeat;
    background-size: coverS;
    width: 55%;
    height: 91vh;
    /* border: black 2px solid; */
    border-top-right-radius: 30px;
    background-size: cover;
    opacity: 100%;
}

.right-page{
    background-color: rgb(85,105,220);
    width: 45%;
    height: 90vh;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}



img{
    border-radius: 100px;
}

.details > h1{
    padding-bottom: 20px;
}

.qualification,
.location{
    font-size: 20px;
}

.about{
    /* border: 2px solid; */
    text-align: center;
    width: 700px;
    margin: auto;
}

li{
    list-style: none;
}

.contact{
    /* border: 2px solid; */
    text-align: center;
}

img{
    width:200px;
    height:200px;
    object-fit: cover;
}

.outer{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    position:relative;
}

.inner{
    width: 80px;
    height: 80px;
    background-color: aqua;
    position: absolute;
    top: 20px;
}


.container{
display: flex;
}

.box{
width: 200px;
height: 200px;
}

#red{

    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 50px;
    padding-top: 110px;
}

.details > h1{
    padding-top: 40px;
}

.social-media > i {
    font-size: 40px;
    color: white;
}