header{
    border-bottom: 2px solid;
}

.navbar{
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.about{
    /* border: 2px solid; */
    text-align: center;
    width: 700px;
    margin: auto;
}

li{
    list-style: none;
}

.contact{
    /* border: 2px solid; */
    text-align: center;
}

img{
    width:200px;
    height:200px;
    object-fit: cover;
}